[submodule "baselines"]
	path = baselines
	url = https://github.com/HumanCompatibleAI/interactive-behaviour-design-baselines
[submodule "basicfetch"]
	path = basicfetch
	url = https://github.com/HumanCompatibleAI/interactive-behaviour-design-basicfetch
[submodule "gym"]
	path = gym
	url = https://github.com/HumanCompatibleAI/interactive-behaviour-design-gym
[submodule "spinningup"]
	path = spinningup
	url = https://github.com/openai/spinningup.git
